<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="f.form.valid && saveItemBudget()" id="forma" #f="ngForm">
        <div class="agregar">
          <div class="agregar_contenedor">
            <select name="type_money" [ngClass]="[borderTypeBudget()]" id="tipo" class="agregar_tipo" [(ngModel)]="typeBudget" required>
              <option value="ingresos">+</option>
              <option value="egresos">-</option>
            </select>
            <input
              type="text"
              name="desc"
              id="desc"
              placeholder="Descripción"
              class="agregar_descripcion"
              [(ngModel)]="description"
              required
            />
            <input
              type="text"
              name="value"
              id="value"
              placeholder="Valor"
              class="agregar_valor"
              [(ngModel)]="valueBudget"
              required

            />
            <button type="submit" class="agregar_btn" [disabled]="!auth">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
