<div class="container-fluid">
  <div class="cabecero">
    <div class="presupuesto">
      <div class="presupuesto_titulo">Presupuesto Disponible</div>
      <h1 class="text-center mb-2">
        {{ budget.total | currency: "COP":"$":"1.1-2" }}
      </h1>
      <div class="presupuesto_ingreso limpiarEstilos">
        <div class="presupuesto_ingreso--texto">Ingresos</div>
        <div class="derecha">
          <div class="presupuesto_ingreso--valor" id="total_ingresos">
            +{{ budget.incomeBudget.value }}
          </div>
          <div class="presupuesto_ingreso--porcentaje">
            {{ percentageMainBudget(true) | percent }}
          </div>
        </div>

      </div>
      <div class="presupuesto_egreso limpiarEstilos">
        <div class="presupuesto_egreso--texto" id="total_egresos">Egresos</div>
        <div class="derecha limpiarEstilos">
          <div class="presupuesto_egreso--valor">
            -{{ budget.expenseBudget.value }}
          </div>
          <div class="presupuesto_egreso--porcentaje" id="percentage_egresos">
            {{ percentageMainBudget(false) | percent }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-form-budget></app-form-budget>

  <div class="container mx-auto my-3">
    <btn-redirect [link]="'/calculator'" [description]="'Calculadora'"></btn-redirect>
  </div>

  <div class="contenedor container-fluid limpiarEstilos mt-0">
    <app-income-budget></app-income-budget>
    <app-expense-budget></app-expense-budget>
  </div>
</div>

